.name {
  text-align: center;
  font-family: monospace;
  color: #63b995;
  border: 3px black solid;
  margin: 50px;
  margin-inline: 180px;
  text-align: center;
}

.info {
  color: #63b995;
  font-size: 27px;
  list-style: none;
  border: 2px black solid;
  text-align: center;
  /* margin-right: 703px; */
  /* margin-left: 703px; */
  margin-inline: 406px;
}

.link {
  color: #bae911;
  font-size: 31px;
  position: absolute;
  top: 1150px;
}

body {
  background-color: #12490d;
}

.info- {
  color: #50723c;
  text-align: right;
  font-size: 11px;
  list-style: none;

}

.shape,
.amo {
  width: 25%;
  padding: 30px;
  text-align: center;
  border: black 2px solid;
  border-radius: 10%;
}

.moldura {
  text-align: center;

}

.text {
  color: #63b995;
  font-size: 27px;
  border: 2px black solid;
  padding: 3px;
}

.paragrafo {
  font-size: 17px;
  text-align: center;
  margin-left: 400px;
  margin-right: 400px;
}

.shape {
  position: absolute;
  left: 300px;
  top: 400px;
}

.link:hover {
  color: rgb(0, 255, 242);
}

.amo {
  position: absolute;
  top: 400px;
}
li:hover{
  color:rgb(197, 18, 18)
}