.name {
  text-align: center;
  font-family: monospace;
  color: #63b995;
  border: 3px black solid;
  margin: 50px;
  margin-inline: 180px;
  text-align: center;
}

.info{
  color: #63b995;
  font-size: 27px;
  list-style: none;
  border: 2px black solid;
  text-align: center;
  margin-right: 703px;
  margin-left: 703px;
}

.link {
  color: #bae911;
  font-size: 31px;
  text-align: center;
  position: absolute;


}

body {
  background-color: #423e28;
}

.info- {
  color: #50723c;
  text-align:right;
  font-size: 11px;
  list-style: none;

}

.shape, .amo {
  width:25% ;
  padding: 30px;
  text-align: center;
  border: black 2px solid ;

}
.moldura{
  text-align: center;

}
.text {
  color: #63b995;
  font-size: 27px;
  border: 2px black solid;
  padding: 3px;
}
.paragrafo{
font-size: 17px;
text-align: center;
margin-left: 400px;
margin-right: 400px;
}
.shape{
top: 50px;
}